{% doc %}
  Renders loading-spinner.

  @param {string} [class] - Css classes to replace the default ones

  @example
  {% render 'loading-spinner' %}
{% enddoc %}

<div class="{% if class %}{{ class }}{% else %}loading__spinner hidden{% endif %}">
  {{ 'loading-spinner.svg' | inline_asset_content }}
</div>
