{% schema %}
{
  "name": "t:sections.image-with-text.blocks.button.name",
  "settings": [
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
      "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
      "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.blocks.button.name"
    }
  ]
}
{% endschema %}

{%- if block.settings.button_label != blank -%}
  <a
    {% if block.settings.button_link == blank %}
      role="link" aria-disabled="true"
    {% else %}
      href="{{ block.settings.button_link }}"
    {% endif %}
    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
    {{ block.shopify_attributes }}
  >
    {{ block.settings.button_label | escape }}
  </a>
{%- endif -%}
