{% schema %}
{
  "name": "t:sections.main-article.blocks.share.name",
  "settings": [
    {
      "type": "text",
      "id": "share_label",
      "label": "t:sections.main-article.blocks.share.settings.text.label",
      "default": "t:sections.main-article.blocks.share.settings.text.default"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-article.blocks.share.settings.social_media.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-article.blocks.share.settings.social_links.content"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-article.blocks.share.name"
    }
  ]
}
{% endschema %}

        <div
          class="article-template__social-sharing page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
        >
          {% assign share_url = request.origin | append: article.url %}
          {% render 'share-button', block: block, share_link: share_url %}
        </div>
