{% schema %}
{
  "name": "t:sections.main-article.blocks.content.name",
  "settings": [],
  "presets": [
    {
      "name": "Content"
    }
  ]
}
{% endschema %}

<div
  class="article-template__content page-width page-width--narrow rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {{ block.shopify_attributes }}
>
  {{ article.content }}
</div>
