{% schema %}
{
  "name": "t:sections.newsletter.blocks.paragraph.name",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
      "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.blocks.paragraph.name"
    }
  ]
}
{% endschema %}

<div
  class="newsletter__subheading rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.text }}
</div>
