<style type="text/css">
  .template-404 {
    min-height: 58rem;
    padding-bottom: clamp(6.4rem, 8vw, 10rem);
    padding-top: clamp(7.2rem, 10vw, 14rem);
  }

  .template-404 p {
    color: var(--urban-primary);
    font-size: 1.2rem;
    font-weight: var(--font-body-weight-bold);
    letter-spacing: 0.1rem;
    margin: 0;
    text-transform: uppercase;
  }

  .template-404 .title {
    margin-bottom: 2.4rem;
    text-transform: uppercase;
  }

  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
